@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

    <div class="container" style="font-size:40px">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active MSM_green" data-toggle="tab" href="#tabs-1" role="tab"
                           aria-selected="true" style="font-size:30px">Thương Hiệu</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link MSM_green" data-toggle="tab" href="#tabs-2" role="tab"
                           aria-selected="false" style="font-size:30px">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link MSM_green" data-toggle="tab" href="#tabs-3" role="tab"
                           aria-selected="false" style="font-size:30px">Phương châm</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                            <div class="row">
                                <div class="col-lg-4" style="text-align:right">
                                    <img src="~/img/Nhan-dien-thuong-hieu_Su-than-thien.png" alt="" width="70" height="70">
                                </div>
                                <div class="col-lg-8">
                                    <h4 class="MSM_green"><b>Sự thân thiện</b></h4>
                                    <p>
                                        Tại đây, bạn sẽ được nồng nhiệt chào đón.
                                        Logo được thiết kế mềm mại và nhẹ nhàng thể hiện sự đón tiếp thân thiện của chúng tôi.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4" style="text-align:right">
                                    <img src="~/img/Nhan-dien-thuong-hieu_Su-cach-tan.png" alt="" width="70" height="70">
                                </div>
                                <div class="col-lg-8">
                                    <h4 class="MSM_green"><b>Sự Cách Tân</b></h4>
                                    <p>
                                        Chúng tôi luôn đổi mới trong mọi lĩnh vực kinh doanh.
                                        Hình dáng độc đáo, cấu trúc cân bằng, và các thiết kế khối vừa mang tính đương đại, tinh tế vừa thân thiện gần gũi.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4" style="text-align:right">
                                    <img src="~/img/Nhan-dien-thuong-hieu_Tinh-uyen-chuyen.png" alt="" width="70" height="70">
                                </div>
                                <div class="col-lg-8">
                                    <h4 class="MSM_green"><b>Tính Uyển Chuyển</b></h4>
                                    <p>
                                        Cảm giác thời thượng là một trong những đặc điểm hấp dẫn của chúng tôi.
                                        So với thiết kế nam tính và cứng nhắc trước đây, logo kế vị thể hiện sự nhạy bén của chúng tôi.
                                    </p>
                                </div>
                            </div><div class="row">
                                <div class="col-lg-4" style="text-align:right">
                                    <img src="~/img/Nhan-dien-thuong-hieu_Net-dam.png" alt="" width="70" height="70">
                                </div>
                                <div class="col-lg-8">
                                    <h4 class="MSM_green"><b>Nét Đậm</b></h4>
                                    <p>
                                        Chúng tôi tự tin là công ty bán lẻ hàng đầu.
                                        Các kí tự được in đậm tượng trưng cho tầm vóc của một thương hiệu dẫn đầu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="MSM_green"><b>Xin chào! Chúng tôi là Siêu Thị Xanh</b></h4>
                                    <br />
                                    <p>
                                        Người ta thường nói “sức khỏe là vàng” nhưng chúng tôi không đồng ý với câu này bởi sức khỏe còn quý hơn cả vàng. Thực tế có khi ngàn vàng cũng không mua được một ngày sống khỏe. Vì vậy, chúng tôi luôn quan niệm rằng: bảo vệ sức khỏe là việc nên làm mỗi ngày chứ không phải là đợi đến khi thấy “yếu” trong người rồi mới làm.
                                    </p>
                                    <h6>Vì vậy...</h6>
                                    <p>
                                        Công Ty TNHH Siêu Thị Xanh ra đời để gợi ý cho những người biết quan tâm đến sức khỏe của mình những sản phẩm tốt và mua về sử dụng. Được thành lập từ 03/2017 đến nay webiste thương mại điện tử, là công ty tiên phong trong bán lẻ thực phẩm chức năng CHÍNH HÃNG tại Việt Nam.
                                    </p>

                                </div>
                                <div class="col-lg-4 " style="text-align:center">
                                    <img src="~/img/logo.jpg" alt="" width="150" height="150">
                                    <h1 class="MSM_green"><b>Mini Mart</b></h1>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc" style="text-align:center">
                            <h2 class="MSM_green"><b>Phương châm kinh doanh</b></h2>
                            <img src="~/img/Triet-ly-kinh-doanh.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>