@model SieuThi.Models.Stored

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<div class="container" style="text-align:center">
    <h1 class="MSM_green">Create</h1>

    <h4>Stored</h4>
    <hr />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Tensp" class="control-label"></label>
                    <input asp-for="Tensp" class="form-control" />
                    <span asp-validation-for="Tensp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoLuong" class="control-label"></label>
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GiaNhap" class="control-label"></label>
                    <input asp-for="GiaNhap" class="form-control" />
                    <span asp-validation-for="GiaNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
